@import url('https:/fonts.googleapis.com/css2?family=Poppins&display=swap'); 

body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.bg-brand {
    background: linear-gradient(180deg, #18051D 18.8%, #180B34 100%);
}

.text-brand {
    font-family: 'Space Grotesk', sans-serif;
}

.text-fun {
    color: #FE4D60;
}

.bg-image {
    background: url('../assets/images/background.png');
    background-size: cover;
    height: 100%;
}

.img-transform {
    transform: scale(1.2) translateX(-50px);
}

.filter-1 {
    position: absolute;
    width: 407px;
    height: 407px;
    left: -82px;
    top: -127px;
    background: rgba(51, 102, 255, 0.8);
    opacity: 0.5;
    filter: blur(144.5px);
}

.bg-icon-1 {
    position: absolute;
    width: 43px;
    height: 70px;
    left: 100%;
    top: 161px;
    transform: translateX(-43px);
    background: url('../assets/images/half-uranus.png');
    background-size: cover;
}

.bg-icon-2 {
    position: absolute;
    left: -2.78%;
    right: 97.19%;
    top: 4.77%;
    bottom: 94.26%;
}

.bg-vector-left {
    position: absolute;
    left: 0;
    top: 0;

    /* background: #475569; */
    mix-blend-mode: overlay;
    /* opacity: 0.5; */
    /* z-index: 9999; */
}

.bg-vector-right {
    position: absolute;
    left: 85.28%;
    top: 0;
    /* bottom: 97.96%; */
    
    /* background: radial-gradient(14852.47% 14852.47% at 114979.28% 4579.85%, #F128C5 8.15%, #C11BB9 100%); */
    /* background-blend-mode: overlay; */
    mix-blend-mode: overlay;
    /* z-index: 9999; */
}