body {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.bg-brand {
    background: linear-gradient(180deg, #18051D 18.8%, #180B34 100%);
}

.text-brand {
    font-family: 'Space Grotesk', sans-serif;
}

.text-fun {
    color: #FE4D60;
}

.bg-image {
    background: url('../assets/images/background.png');
    background-size: contain;
    height: 100%;
}

.img-size-fix {
    position: absolute;
    max-width: 750px;
    right: 0;
}

.bg-lower {
    position: absolute;
    width: 463px;
    height: 700px;
    /* height: 95px; */
    left: 100%;
    /* top: 161px; */
    transform: translateX(-473px);
    background: url('../assets/images/lower-bg.png');
    background-size: contain;
    z-index: -1;
}

.bg-reverse-lower {
    position: absolute;
    width: 323px;
    height: 600px;
    /* height: 95px; */
    left: 0;
    /* top: 161px; */
    /* transform: translateX(-473px); */
    background: url('../assets/images/reversed-lower-bg.png');
    background-size: contain;
    z-index: -1;
}

.bg-foo {
    position: absolute;
    width: 75px;
    height: 66px;
    /* height: 95px; */
    left: 100%;
    top: 100%;
    transform: translate(-205px, -105px);
    background: url('../assets/images/green-planet.png');
    background-size: contain;
    z-index: -1;
}

.bg-foo-2 {
    position: absolute;
    width: 145px;
    height: 56px;
    /* height: 95px; */
    left: 100%;
    top: 100%;
    transform: translate(-205px, -158px);
    background: url('../assets/icons/small-meteor.svg');
    background-size: contain;
    z-index: -1;
}

@media screen and (max-width: 1400px) {
    .img-size-fix {
        position: absolute;
        max-width: 650px;
        right: 0;
    }
}
@media screen and (max-width: 1100px) {
    .img-size-fix {
        position: absolute;
        max-width: 620px;
        right: 0;
    }
}
@media screen and (max-width: 992px) {
    .img-size-fix {
        position: static;
        max-width: 100%;
    }
}

.main-container {
    /* max-width: 1400px;
    margin: 0 auto; */
}

@media screen and (min-width: 1400px) {
    .main-container {
        max-width: 1250px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 1400px) {
    .main-container {
        max-width: 1100px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 1200px) {
    .main-container {
        max-width: 992px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 1100px) {
    .main-container {
        max-width: 892px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 992px) {
    .main-container {
        max-width: 768px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .main-container {
        max-width: 576px;
        margin: 0 auto;
    }
    /* .swiper-modified img {
        height: 200px !important;
    } */
}
@media screen and (max-width: 668px) {
    .main-container {
        max-width: 476px;
        margin: 0 auto;
    }
    /* .swiper-modified img {
        height: 200px !important;
    } */
}
@media screen and (max-width: 576px) {
    .main-container {
        max-width: 90%;
        margin: 0 auto;
    }
    /* .swiper-modified img {
        height: 200px !important;
    } */
}

.bg-gradient-1 {
    background: linear-gradient(156.49deg, #5F5FFF 1.87%, #5222D0 84.84%);
}

.bg-gradient-2 {
    background:  linear-gradient(180deg, #FF136F 0%, #971FAA 100%);
}

.bg-gradient-3 {
    background: linear-gradient(180deg, #4289FF 0%, #01FDD6 100%);
}

.bg-gradient-4 {
    background: linear-gradient(148.48deg, #FFCC3E -11.85%, #F79C41 81%);
}

.bg-gradient-5 {
    background: linear-gradient(282.23deg, #FF3E6C -43.23%, #FC5E51 124.5%)
}

.bg-gradient-6 {
    background: linear-gradient(180deg, #E63D84 0%, #650D84 100%);
}

.bg-gradient-7 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), radial-gradient(67.45% 67.45% at 50% 32.55%, #4A92FF 0%, #2E1674 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

.bg-gradient-8 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), radial-gradient(72.4% 72.4% at 50% 27.6%, #6DB8F5 0%, #0B4B70 99.99%);
}

.bg-gradient-9 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), radial-gradient(145.79% 145.79% at 68.19% -3.09%, #FF8787 0%, #71129B 43.02%, #64079D 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}
.bg-gradient-10 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), radial-gradient(68.56% 68.56% at 50% 27.48%, #FF7482 0%, #A80D15 47.71%, #860B0B 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}
.bg-gradient-11 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), radial-gradient(74.38% 74.38% at 52.92% 27.72%, #FFC044 0%, #C07A28 51.87%, #705A0F 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

.bg-gradient-12 {
    background: radial-gradient(77.93% 1101.68% at 84.62% 50%, #CE47B8 0%, #D08731 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

.bg-gradient-13 {
    background: radial-gradient(99.91% 986.38% at 104.48% -5.01%, #C51393 0%, #8301F6 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

.bg-gradient-14 {
    background: radial-gradient(82.99% 199.53% at 108.66% 25.41%, #492E99 0.01%, #460D73 100%, #340B55 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

.bg-gradient-15 {
    /* background: radial-gradient(#00D1FF, #2E7EDC); */
    background: linear-gradient(90deg, #0073ff, #2E7EDC);
}
.bg-gradient-16 {
    /* background: radial-gradient(#00D1FF, #2E7EDC); */
    background: linear-gradient(90deg, #20050B, #521316);
}
.bg-gradient-17 {
    /* background: radial-gradient(#00D1FF, #2E7EDC); */
    background: linear-gradient(90deg, #0A160A, #111747);
}

.img-transform {
    transform: scale(1.2) translateX(-50px);
}

.filter-1 {
    position: absolute;
    width: 407px;
    height: 407px;
    left: -82px;
    top: -127px;
    background: rgba(51, 102, 255, 0.8);
    opacity: 0.5;
    filter: blur(144.5px);
    z-index: -1;
}

.filter-2 {
    position: absolute;
    width: 407px;
    height: 407px;
    left: -82px;
    /* top: -127px; */
    background: rgba(51, 102, 255, 0.6);
    opacity: 0.5;
    filter: blur(144.5px);
    z-index: -1;
}

.filter-3 {
    position: absolute;
    min-width: 417px;
    min-height: 417px;
    left: -86px;
    top: 1303px;

    background: rgba(189, 50, 255, 0.4);
    opacity: 0.5;
    filter: blur(147.771px);
    z-index: -1;
}

.filter-4 {
    position: absolute;
    width: 350px;
    height: 350px;
    left: 100%;
    /* right: -6.88%; */
    /* top: 7.02%;
    bottom: 86.84%; */

    background: rgba(255, 88, 50, 0.4);
    opacity: 0.5;
    filter: blur(147.771px);
    z-index: -1;
    transform: translate(-350px, -150px);
    z-index: -1;
}

.filter-5 {
    position: absolute;
    width: 355px;
    height: 555px;
    left: 50%;
    /* right: -6.88%; */
    /* top: 7.02%;
    bottom: 86.84%; */

    background: rgba(255, 88, 50, 0.5);
    opacity: 0.5;
    filter: blur(147.771px);
    z-index: -1;
    transform: translate(-190px, 0);
}

.bg-icon-1 {
    position: absolute;
    width: 43px;
    height: 70px;
    left: 100%;
    top: 161px;
    transform: translateX(-43px);
    background: url('../assets/images/half-uranus.png');
    background-size: cover;
}

.bg-icon-2 {
    position: absolute;
    left: -2.78%;
    right: 97.19%;
    top: 4.77%;
    bottom: 94.26%;
}

.bg-icon-3 {
    position: absolute;
    width: 190.09px;
    height: 87.11px;
    left: 100%;
    /* top: 161px; */
    transform: translateX(-290.09px);
    /* background: url('../assets/icons/small-meteor.svg');
    background-size: cover; */
    filter: brightness(170%) contrast(50%);
}

.bg-icon-4 {
    position: absolute;
    width: 43px;
    height: 95px;
    left: 0;
    /* top: 161px; */
    /* transform: translateX(-43px); */
    background: url('../assets/images/half-earth.png');
    background-size: cover;
    z-index: -1;
}

.bg-icon-5 {
    position: absolute;
    width: 190.09px;
    height: 87.11px;
    left: 100%;
    /* top: 161px; */
    transform: translate(-150.09px, -80px);
    /* background: url('../assets/icons/small-meteor.svg');
    background-size: cover; */
    /* filter: brightness(170%) contrast(50%); */
}

.bg-icon-6 {
    position: absolute;
    width: 190.09px;
    height: 87.11px;
    left: 0;
    /* top: 161px; */
    transform: translate(-90.09px, 0);
    /* background: url('../assets/icons/small-meteor.svg');
    background-size: cover; */
    /* filter: brightness(170%) contrast(50%); */
    z-index: -1;
}

.bg-vector-left {
    position: absolute;
    left: 0;
    top: 0;

    /* background: #475569; */
    mix-blend-mode: overlay;
    /* opacity: 0.5; */
    /* z-index: 9999; */
}

.bg-vector-right {
    position: absolute;
    left: 85.28%;
    top: 0;
    /* bottom: 97.96%; */
    
    /* background: radial-gradient(14852.47% 14852.47% at 114979.28% 4579.85%, #F128C5 8.15%, #C11BB9 100%); */
    /* background-blend-mode: overlay; */
    mix-blend-mode: overlay;
    /* z-index: 9999; */
    /* background: linear-gradient(148.48deg, #FFCC3E -11.85%, #F79C41 81%); */
}

.bg-snacky {
    background: url('../assets/images/focused-bg-snacky.png');
    background-size: cover;
}

.bg-card-snacky {
    /* mix-blend-mode: overlay; */
    background: url('../assets/images/bg-card-snacky.png');
    background-size: cover;
}

.bg-review {
    background: url('../assets/images/review-bg.png');
    background-size: cover;
}

.image-rocket {
    position: relative; 
    bottom: 0;
    left: 0; 
    /* transform: translateY(5%); */
}

.nav-active {
    display: none;
}

.prev-class {
    opacity: 0;
    transform: translateY(50px);
    transition: all 2s;
}

.after-class {
    opacity: 1;
    transform: translateY(0px);
    transition: all 2s;
}

.swiper-modified > div {
    height: 450px !important;
    transform: scale(1.1) !important;
    opacity: 1 !important;
}